---
import Layout from "../layouts/Layout.astro";
import FormAndVisualizer from "../components/formAndVisualizer";
import SetGoalRun from "../components/setGoalRun";
---

<Layout title="Runaway">
	<main>
		<header
			class="bg-woman-runnig bg-black bg-cover h-screen w-screen max-w-full p-16 lg:px-96 lg:py-48 text-white font-mono"
		>
			<h1 class="text-6xl">Runnaway</h1>
			<p class="text-3xl py-4 w-3/4">
				Improve your running skills by tracking and planning your runs<span
					class="animate-blink">_</span
				>
			</p>
			<a
				href="#get-started"
				class="block w-fit p-4 bg-black rounded-md scroll-smooth"
			>
				Get Started For Free!
			</a>
		</header>
		<FormAndVisualizer client:load />
		<SetGoalRun client:load />
	</main>
</Layout>
