---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Runnaway</h1>
		<p>Improve your running skills by tracking and planning your runs</p>
		<img src="woman-running.jpg" alt="">
	</main>
</Layout>
